﻿@model LibraryManagementSystem.Models.BookSearchArg

@{
    ViewBag.Title = "首頁";
}

<h2>圖書查詢</h2>

@using (Html.BeginForm("Index", "Book", FormMethod.Post, new { id = "Form1" }))
{
    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.BookName, htmlAttributes: new { @class = "control-label col-md-1", style = "text-align:left" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BookName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BookClassName, htmlAttributes: new { @class = "control-label col-md-1", style = "text-align:left" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.BookClassName, (List<SelectListItem>)ViewBag.BookClassCodeData, "", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BookKeeperName, htmlAttributes: new { @class = "control-label col-md-1", style = "text-align:left" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.BookKeeperName, (List<SelectListItem>)ViewBag.BookKeeperCodeData, "", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StatusName, htmlAttributes: new { @class = "control-label col-md-1", style = "text-align:left" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.StatusName, (List<SelectListItem>)ViewBag.BookStatusCodeData, "", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <input class="btn btn-primary" type="submit" value="查詢" />
                <input class="btn btn-default" onclick="location.href ='/Book/Index'" type="button" value="清除" />
                <input class="btn btn-link" onclick="location.href ='/Book/InsertBook'" type="button" value="新增" />

            </div>
        </div>


        @if (ViewBag.SearchResult != null)
        {
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr id>
                        <th>圖書類別</th>
                        <th>書名</th>
                        <th>購書日期</th>
                        <th>借閱狀態</th>
                        <th>借閱人</th>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (List<LibraryManagementSystem.Models.Book>)ViewBag.SearchResult)
                    {
                        <tr id='@item.BookId'>
                            <td style="width:15%">@item.BookClassName</td>
                            <td style="width:40%">
                                @Html.ActionLink(@item.BookName == "" ? "Empty" : @item.BookName, "BookDetail", new { BookId = @item.BookId })
                            </td>
                            <td style="width:7%">@item.BookBoughtDate.ToString("yyyy/MM/dd")</td>
                            <td style="width:7%">@item.StatusName</td>
                            <td style="width:7%">@item.BookKeeperName</td>
                            <td>
                                @Html.ActionLink("借閱紀錄", "BookLendRecord", new { BookId = @item.BookId }, new { @class = "btn btn-default" })
                                @Html.ActionLink("編輯", "UpdateBook", new { BookId = @item.BookId }, new { @class = "btn btn-primary" })
                                <a class="btnDelete btn btn-danger" href="#" onclick="test(this, '@item.BookId');">刪除</a>
                                <input class="hidBookId" type="hidden" value='@item.BookId' />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

}
<script type="text/javascript">
    $(document).ready(function () {

        $(".btnDelete").click(function (e) {
            e.preventDefault();
            var tr = $(this).closest('tr');
            var bookId = $(this).next().val();
            var bookName = tr.find('td:eq(1)').text().trim();
            if (confirm("是否刪除：（" + bookId + "）" + bookName + "？")) {
                $.ajax({
                    type: "POST",
                    url: "/Book/DeleteBook",
                    data: "bookId=" + $(this).next().val(),
                    dataType: "json",
                    success: function (response) {
                        if (response) {
                            $(tr).remove();
                            alert("已刪除：(" + bookId + "）" + bookName);
                        }
                        else {
                            alert("本圖書已借出，無法刪除");
                        }

                    }, error: function (error) {
                        alert("系統發生錯誤，刪除失敗");
                    }
                });
            }
            return false;
        });
    });
</script>