﻿@model LibraryManagementSystem.Models.Book

@{
    ViewBag.Title = "圖書新增";
}

<h2>圖書新增</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table table-striped table-bordered" style="width:50%">
            <tr>
                <td style="width:30%">
                    @Html.LabelFor(model => model.BookName, htmlAttributes: new { @class = "control-label col-md-10" })
                </td>

                <td>
                    @Html.EditorFor(model => model.BookName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BookName, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.BookAuthor, htmlAttributes: new { @class = "control-label col-md-10" })
                </td>

                <td>
                    @Html.EditorFor(model => model.BookAuthor, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BookAuthor, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.BookPublisher, htmlAttributes: new { @class = "control-label col-md-10" })
                </td>

                <td>
                    @Html.EditorFor(model => model.BookPublisher, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BookPublisher, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.BookNote, htmlAttributes: new { @class = "control-label col-md-10" })
                </td>

                <td>
                    @Html.TextAreaFor(model => model.BookNote, 15, 80, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BookNote, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.BookBoughtDate, htmlAttributes: new { @class = "control-label col-md-10" })
                </td>

                <td>
                    @Html.EditorFor(model => model.BookBoughtDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BookBoughtDate, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.BookClassId, htmlAttributes: new { @class = "control-label col-md-10" })
                </td>

                <td>
                    @Html.DropDownListFor(model => model.BookClassId, (List<SelectListItem>)ViewBag.BookClassCodeData, "", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BookClassId, "", new { @class = "text-danger" })
                </td>
                <td style="display:none">
                    @Html.DropDownListFor(model => model.BookStatusId, (List<SelectListItem>)ViewBag.BookStatusCodeData, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BookStatusId, "", new { @class = "text-danger" })
                </td>
            </tr>

        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btnInsert" type="submit" value="新增" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("回上頁", "Index")
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnInsert").click(function (e) {
            if (!confirm("是否確定新增？")) {
                return false;
            }
        });
        $("#BookStatusId option[value='A']").attr('selected', 'selected');
    });
</script>
