﻿@model LibraryManagementSystem.Models.Book

@{
    ViewBag.Title = "圖書編輯";
}

<h2>圖書編輯</h2>

@using (Html.BeginForm("UpdateBook", "Book", FormMethod.Post, new { id = "Form2" }))
{
    @Html.AntiForgeryToken()

    <div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BookId)
        <table class="table table-striped table-bordered" style="width:50%">
            <tr>
                <td style="width:30%">
                    @Html.LabelFor(model => model.BookName, htmlAttributes: new { @class = "control-label col-md-10" })
                </td>

                <td>
                    @Html.EditorFor(model => model.BookName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BookName, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.BookAuthor, htmlAttributes: new { @class = "control-label col-md-10" })
                </td>

                <td>
                    @Html.EditorFor(model => model.BookAuthor, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BookAuthor, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.BookPublisher, htmlAttributes: new { @class = "control-label col-md-10" })
                </td>

                <td>
                    @Html.EditorFor(model => model.BookPublisher, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BookPublisher, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.BookNote, htmlAttributes: new { @class = "control-label col-md-10" })
                </td>

                <td>
                    @Html.TextAreaFor(model => model.BookNote, 15, 80, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BookNote, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.BookBoughtDate, htmlAttributes: new { @class = "control-label col-md-10" })
                </td>

                <td>
                    @Html.TextBoxFor(model => model.BookBoughtDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @type = "Date", @style = "text-align:left" })
                    @Html.ValidationMessageFor(model => model.BookBoughtDate, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.BookClassId, htmlAttributes: new { @class = "control-label col-md-10" })
                </td>

                <td>
                    @Html.DropDownListFor(model => model.BookClassId, (List<SelectListItem>)ViewBag.BookClassCodeData, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BookClassId, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.BookStatusId, htmlAttributes: new { @class = "control-label col-md-10" })
                </td>

                <td>
                    @Html.DropDownListFor(model => model.BookStatusId, (List<SelectListItem>)ViewBag.BookStatusCodeData, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BookStatusId, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.BookKeeperId, htmlAttributes: new { @class = "control-label col-md-10" })
                </td>

                <td>
                    @Html.DropDownListFor(model => model.BookKeeperId, (List<SelectListItem>)ViewBag.BookKeeperCodeData, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BookKeeperId, "", new { @class = "text-danger" })
                </td>
            </tr>
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btnUpdate" type="submit" value="存檔" class="btn btn-primary" />
                <a class="btnDelete btn btn-danger" href="#" onclick="test(this, '@Model.BookId');">刪除</a>
                <input class="hidBookId" type="hidden" value='@Model.BookId' />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("回上頁", "Index")
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var originBookKeeperId = $("#BookKeeperId").val();

        if ($("#BookStatusId").val() == "A" || $("#BookStatusId").val() == "U") {
            $("#BookKeeperId").attr('disabled', 'disabled');
            $("#BookKeeperId").val("");
            originBookKeeperId = "";
        }
        else {
            $("#BookKeeperId").removeAttr("disabled");
        }


        $("#BookStatusId").on("change", function () {
            if ($("#BookStatusId").val() == "A" || $("#BookStatusId").val() == "U") {
                $("#BookKeeperId").attr('disabled', 'disabled');
                $("#BookKeeperId").val("");
            }
            else {
                $("#BookKeeperId").removeAttr("disabled");
                $("#BookKeeperId").val(originBookKeeperId);
            }

        });

        $("#btnUpdate").click(function (e) {
            if ($("#BookStatusId").val() == "B" && $("#BookKeeperId").val() == 0) {
                alert("借閱狀態為：已借出，請輸入借閱人");
                return false;
            }
            if (!confirm("是否確定更新？")) {
                return false;
            }
        });

        $(".btnDelete").click(function (e) {
            e.preventDefault();
            var tr = $(this).closest('tr');
            var bookId = $(this).next().val();
            if (confirm("是否刪除編號（" + bookId + "）之圖書？")) {
                $.ajax({
                    type: "POST",
                    url: "/Book/DeleteBook",
                    data: "bookId=" + $(this).next().val(),
                    dataType: "json",
                    success: function (response) {
                        if (response) {
                            $(tr).remove();
                            alert("已刪除編號（" + bookId + "）之圖書");
                            window.location.replace("/Book/Index");
                        }
                        else {
                            alert("本圖書已借出，無法刪除");
                        }

                    }, error: function (error) {
                        alert("系統發生錯誤，刪除失敗");
                    }
                });
            }
            return false;
        });
    });
</script>
