﻿@model LibraryManagementSystem.Models.Book

@{
    ViewBag.Title = "圖書明細";
}

<h2>圖書明細</h2>

<div>
    <hr />
    <table class="table table-striped table-bordered">
        <tr>
            <th style="width:10%">
                @Html.DisplayNameFor(model => model.BookName)
            </th>

            <td>
                @Html.DisplayFor(model => model.BookName)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookAuthor)
            </th>

            <td>
                @Html.DisplayFor(model => model.BookAuthor)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookPublisher)
            </th>

            <td>
                @Html.DisplayFor(model => model.BookPublisher)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookNote)
                @*<div id="test"></div>*@                
            </th>

            <td>
                @Html.DisplayFor(model => model.BookNote)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookBoughtDate)
            </th>

            <td>
                @Html.DisplayFor(model => model.BookBoughtDate)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookClassId)
            </th>

            <td>
                @Html.DisplayFor(model => model.BookClassName)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookStatusId)
            </th>

            <td>
                @Html.DisplayFor(model => model.StatusName)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookKeeperId)
            </th>

            <td>
                @Html.DisplayFor(model => model.BookKeeperName)
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("回上頁", "Index")
</p>
@*<script>
    $("#test").html('@Html.Raw(@Model.BookNote)');
</script>*@
