﻿@model IEnumerable<LibraryManagementSystem.Models.BookLendRecord>

@{
    ViewBag.Title = "圖書借閱紀錄";
}

<h2>圖書借閱紀錄</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LendDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookKeeperId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookKeeperName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookKeeperCName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LendDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookKeeperId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookKeeperName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookKeeperCName)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
        </tr>
    }

</table>

<div>
    @Html.ActionLink("回上頁", "Index")
</div>
