﻿@{
    ViewBag.Title = "首頁";
}

<h2>圖書查詢</h2>

<div class="form-horizontal">
    @*新增編輯刪除是否成功資訊*@
    <div style="text-align: center;" id="msg"></div>
    <br />
    @*圖書搜尋欄位(Index)*@
    <div class="form-group">
        <label class="control-label col-md-1" , style="text-align:left">書名</label>
        <div class="col-md-10">
            @*書名*@
            <input style="width:40%" id='BookName' />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-1" , style="text-align:left">圖書類別</label>
        <div class="col-md-10">
            @*圖書類別*@
            <select style="width:40%" id="BookClassId"></select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-1" , style="text-align:left">借閱人</label>
        <div class="col-md-10">
            @*借閱人*@
            <select style="width:40%" id="BookKeeperId"></select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-1" , style="text-align:left">借閱狀態</label>
        <div class="col-md-10">
            @*借閱狀態*@
            <select style="width:40%" id="BookStatusId"></select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            @*查詢*@
            <input id="BookSearch" class="btn btn-primary" type="submit" value="查詢" />
            @*清除*@
            <input id="ClearSearchArg" class="btn btn-default" type="button" value="清除" />
            @*新增*@
            <input id="InsertBookWindow" class="btn btn-link" type="button" value="新增" />
        </div>
    </div>

    @* 查詢結果kendoGrid *@
    <div id="BookSearchResult"></div>

</div>

@* 借閱紀錄kendoWindow *@
<div id="BookLendRecordWindow">
    <div id="BookLendRecordGrid"></div>
</div>

@* 新增、編輯、明細kendoWindow *@
<div class="uk-card uk-text-left" id="BookDataWindow" style="display:none; margin:0 auto; width: 100%">
    <form id="BookDataForm">
        <table Align="center">
            <tr>

                <td>
                    <ul class="fieldlist" >
                        <li style="display:none">
                            <label>圖書編號</label>
                            @*TODO:更改name、id*@
                            <input id="BookIdData" name="book id" type="text" class="k-textbox"
                                   style="width: 100%;" />
                        </li>
                        <li>
                            <label>書名</label><br />
                            <input id="BookNameData" name="book name" type="text" class="k-textbox bookdata-text"
                                   style="width: 100%;" required />
                        </li>
                        <li>
                            <label>作者</label><br />
                            <input id="BookAuthorData" name="book author" type="text" class="k-textbox bookdata-text"
                                   style="width: 100%;" required />
                        </li>
                        <li>
                            <label>出版商</label><br />
                            <input id="BookPublisherData" name="book publisher" type="text" class="k-textbox bookdata-text"
                                   style="width: 100%;" required />
                        </li>
                        <li>
                            <label>內容簡介</label><br />
                            <textarea class="bookdata-text" id="BookNoteData" name="book note" style="width: 100%;" required data-max-msg="字數限制1000字"></textarea>
                            <div class="k-form-footer">
                                <div class="k-counter-container"><span class="k-counter-value">0</span>/1000</div>
                            </div>
                        </li>
                        <li>
                            <label>購買日期</label>
                            <input id="BookBoughtDateData" name="book bought date" value="2011-10-10"
                                   title="datepicker" style="width: 100%" required />
                        </li>
                        <li>
                            <label>圖書類別</label>
                            <select class="bookdata-dropdownlist" id="BookClassData" style="width: 100%;" required>
                            </select>
                        </li>
                        <li class="bookdata-column" id="BookStatusColumn" style="display:none">
                            <label>借閱狀態</label>
                            <select class="bookdata-dropdownlist" id="BookStatusData" style="width: 100%;" required>
                            </select>
                        </li>
                        <li class="bookdata-column" id="BookKeeperColumn" style="display:none">
                            <label>借閱人</label>
                            <select class="bookdata-dropdownlist" id="BookKeeperData" style="width: 100%;">
                            </select>
                        </li>

                        <li Align="center">
                            <button id="InsertBook" class="k-button k-primary btn-add-book bookdata-submit">新增</button>
                            <button id="UpdateBook" style="display:none" class="k-button k-primary btn-add-book bookdata-submit">存檔</button>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </form>

</div>
<style>
    .k-form-footer {
        display: flex;
        flex-direction: column;
    }

    .k-counter-container {
        color: #9C9C9C;
        font-size: 13px;
        margin-top: 5px;
        margin-left: auto;
    }
</style>

<script src="~/Scripts/BookScripts/Index.js"></script>
